body{
  font-size:12pt;
  font-family:Arial,sans-serif;
  color:blue;
  line_height:20pt;
}
h1{
  font:20pt,Arial;
  color:yellow;
  font-weight:bold;
  line-height:30pt;
}
p{
  font-weight:bold;
}
footer{
  font-szie:9pt;
  font-style:italic;
  line-height:12pt;
  text-align:center;
  padding-top:30pt;
}
