body {
    font-size:10pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:aquamarine;
    line-height:14pt;
    padding-left:5pt;
    padding-right:5pt;
    padding-top:5pt;
}
h1{
    font-size:14pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:brown;
    line-height:20pt;
}
p{
    font-weight:bold;
    color:aqua;
}
footer{
    font-size:9pt;
    font-style:italic;
    line-height:12pt;
    text-align:center;
    padding-top:30pt;
}
